
{% extends "base.html" %}
{% load static %}
{% block style %}
<style>
.navbar-login{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}
.navbar-login-session{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.icon-size{
    font-size: 87px;
}


</style>
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-white bg-white navbar-fixed-top " >
    <hr>
    <div class="container">
        <a class="navbar-brand" href="#">PM</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-header" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>

            <ul class="nav navbar-nav navbar-right">
                                
                <li class="nav-item">
                    <a class="nav-link" href='accounts/login/' class="btn btn-secondary">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='accounts/register/' class="btn btn-secondary">Register</a>
                </li>
            
            </ul>
           
        </div>
    </div>
</nav>


<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to our website</h1>
        <p class="lead">Just a simple platform, 
            that help will  help you manage company profile.</p>
        <hr class="my-4">
        <p>Just signin or signup if you are ready .</p>
       
    </div>
</div>





<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Already registered</h5>
                    <p class="card-text">you can update your profile .</p>
                    <a href="accounts/login" class="btn btn-primary">Go login</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Not registered</h5>
                    <p class="card-text">create your profile.</p>
                    <a href="accounts/register" class="btn btn-primary">Go register</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}